

<section class='bookShow'>
  <img src="<%=book.img%>">
  <h2>Title: <%= book.title%> </h2>
  <p>Author: <%= book.authors%></p>
  <p>Discription: <%= book.description%></p>
  <p>ISBN: <%= book.isbn%></p>
  <p>Bookshelf: <%= book.bookshelf%></p>
</section>
