<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head.ejs') %>
<head>  <title>Data From API</title></head>

<body>
  <%- include('../../layout/header.ejs') %>
  <main>
    <span>Search Result</span>
    <% book.forEach((e,idx) =>{ %>
      <form action="/books" method="post">
        <div class='bookShow'>
          <img src="<%=e.img%>">
          <span class='bookTitle'><%= e.title %></span>
          <br>
          <span><%= e.authors %></span>
          <br>
          <span class='leftalign'><%=e.description%></span>
          <!-- <span><%= idx%></span> -->
          <br>
          <input class='hidden' name='index' value='<%=idx%>'></input>
            <button>Select this book</button>
          </form>
          
        </div>
    <% }); %>
  </main>
  <%- include('../../layout/footer.ejs') %>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="../../../app.js"></script>
</body>
</html>