<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
<!-- <head>  <title>Home</title></head> -->
<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <h1>Hello</h1>
    <h2>Welcome 301d4</h2>
    <!-- <a href="/searches/new">Search for a book</a> -->
    <div> Number of books in Database: <%=books.length %></div>

    <%books.forEach(e => { %>
      <div class='bookShow'>
        <h6> <%= e.id%></h6>
        <img src="<%=e.img%>">
        <h3>Title: <%= e.title%></h3>
        <p> Author: <%= e.authors%></p>
        <a href="/books/<%=e.id%>" class='aStyle'> <button>More Details</button> </a>
      </div>

   <% })%>
  </main>
  <%- include('../layout/footer.ejs') %>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="app.js"></script>
</body>
</html>